
QMatic/tests/__pycache__
QMatic/tests/qmatic/__pycache__
QMatic/schemas/__pycache__
QMatic/adapters/__pycache__
QMatic/__pycache__
QMatic/.env
QMatic/build/
QMatic/.hypothesis/
QMatic/reports/
QMatic/.mypy_cache
QMatic/run_tests_with_watching.py
QMatic/watch_mypy.py
QMatic/scripts
node_modules/
.history
.hypothesis/
.mypy_cache
.vscode
